*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.mt__1rem {
  margin-top: 1 rem;
}

.mt__2rem {
  margin-top: 2rem;
}

.profile {
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  width: 25rem;
  height: 25rem;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

/*Flex*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex__zero__basis {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.flex__center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex__evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex__around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vw50 {
  width: 50vw;
}

.text__center {
  text-align: center;
}

/*Flex*/
/*main Intro , section intro & section title*/
.intro {
  font-weight: 600;
  color: #555555;
}

.title {
  font-size: 3rem;
  font-weight: 700;
}

.section_intro {
  color: #555555;
}

/*Buttons*/
.button {
  font-weight: 700;
  border: #353535 0.1rem solid;
  min-height: 30px;
  min-width: 120px;
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.btn__resume {
  background-color: white;
}

.btn__resume:hover {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: white;
  background-color: #353535;
}

.btn__contact {
  background-color: #353535;
  color: white;
}

.btn__contact:hover {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: white;
  background-color: black;
}

/*Buttons*/
.container {
  position: relative;
  margin: auto;
}

/*Header Section*/
.header {
  height: 17vh;
}

.header__logo {
  font-size: 2rem;
}

.navbar__hamburger__menu {
  display: none;
  position: absolute;
  background-color: #607274;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 100%;
}

.navbar__hamburger__menu ul > li {
  padding: 2rem 0;
}

.navbar__hamburger__menu > a {
  right: 0;
  position: absolute;
}

.navbar__link {
  position: relative;
  color: black;
}

.navbar__link:hover {
  color: #607274;
  -webkit-transition: color 3s;
  transition: color 3s;
}

.navbar__link::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  background: #607274;
  left: 0;
  bottom: -10px;
  opacity: 0;
  pointer-events: none;
}

.navbar__link:hover::after {
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
  opacity: 1;
}

.navbar__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 1.5rem;
}

/*Header Section*/
.p__15 {
  padding: 1rem;
}

/*Dashboard*/
.dashboard {
  height: 83vh;
}

.dashboard__designation {
  font-size: 1.75rem;
  color: #555555;
  font-weight: 600;
}

.contacts {
  height: 95vh;
  padding-top: 5vh;
}

.contacts__details {
  border-radius: 2rem;
  border: 1px solid black;
  padding: 2rem 4rem;
  margin: auto;
}

.projects {
  height: 96vh;
  padding-top: 4vh;
}

.projects__image__one {
  width: 22rem;
  height: 22rem;
  border-radius: 3rem;
}

/*About me*/
.about {
  height: 96vh;
  padding-top: 4vh;
}

.about__page {
  width: 80%;
  margin: auto;
}

.about__profile__image {
  width: 25rem;
  height: 25rem;
  border-radius: 3rem;
}

.card {
  height: 10rem;
  width: 22rem;
  padding: 1rem;
  border: 1px #555555 solid;
  border-radius: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.card__experience {
  width: 45rem;
  height: 17rem;
}

/*Experience*/
.experience {
  height: 96vh;
  padding-top: 4vh;
}

.experience__cards {
  border: 1px solid black;
  border-radius: 2rem;
  padding: 1rem;
}

.experience__text {
  font-size: 1.17rem;
  font-weight: bold;
}

.experience__sub__title {
  color: #555555;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
  .projects {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .projects__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .about__page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__profile__image {
    width: 18rem;
    height: 18rem;
    border-radius: 3rem;
  }
  .card {
    height: 9rem;
    width: 18rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .card__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar__menu {
    display: none;
  }
  .card__parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dashboard__designation {
    font-size: 1.25rem;
  }
  .profile {
    -webkit-clip-path: circle(50%);
            clip-path: circle(50%);
    width: 12rem;
    height: 12rem;
  }
  .title {
    font-size: 2rem;
    font-weight: 700;
  }
  .header__logo {
    font-size: 1.5rem;
  }
  .experience {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .experience__page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/**/
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .projects {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .projects__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .about__page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__profile__image {
    width: 18rem;
    height: 18rem;
    border-radius: 3rem;
  }
  .card {
    height: 9rem;
    width: 18rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .card__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar__menu {
    display: block;
  }
  .navbar__hamburger {
    display: none;
  }
  .profile {
    -webkit-clip-path: circle(50%);
            clip-path: circle(50%);
    width: 25rem;
    height: 25rem;
  }
  .dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title {
    font-size: 2rem;
    font-weight: 700;
  }
  .header__logo {
    font-size: 1.5rem;
  }
  .experience {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .experience__page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar__menu {
    display: block;
  }
  .navbar__hamburger {
    display: none;
  }
  .title {
    font-size: 2rem;
    font-weight: 700;
  }
  .header__logo {
    font-size: 1.5rem;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .navbar__menu {
    display: block;
  }
  .navbar__hamburger {
    display: none;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .navbar__menu {
    display: block;
  }
  .navbar__hamburger {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */