*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

img {
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  width: 25rem;
  height: 25rem;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

a {
  cursor: pointer;
}

.gap1__2 {
  gap: 1rem;
}

.container {
  position: relative;
  margin: auto;
}

/*Header Section*/
.header {
  height: 15vh;
}

.header > h2 {
  font-size: 2rem;
  font-weight: bold;
}

.navbar__hamburger__menu {
  display: none;
  position: absolute;
  background-color: #607274;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 100%;
}

.navbar__hamburger__menu ul > li {
  padding: 2rem 0;
}

.navbar__hamburger__menu > a {
  right: 0;
  position: absolute;
}

.text__center {
  text-align: center;
}

.p__15 {
  padding: 15px;
}

.button {
  background-color: white;
  border: 2px solid black;
  min-height: 30px;
  min-width: 120px;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
}

.button:hover {
  border: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  color: white;
  background-color: gray;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex__center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex__evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex__around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__link {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.navbar__link:hover {
  color: #607274;
  -webkit-transition: color 3s;
  transition: color 3s;
}

.navbar__link::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  background: #607274;
  left: 0;
  bottom: -10px;
  opacity: 0;
  pointer-events: none;
}

.navbar__link:hover::after {
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
  opacity: 1;
}

.navbar__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
  .navbar {
    display: none;
  }
  .dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  img {
    -webkit-clip-path: circle(50%);
            clip-path: circle(50%);
    width: 18rem;
    height: 18rem;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .navbar {
    display: block;
  }
  .navbar__hamburger {
    display: none;
  }
  img {
    -webkit-clip-path: circle(50%);
            clip-path: circle(50%);
    width: 25rem;
    height: 25rem;
  }
  .dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    display: block;
  }
  .navbar__hamburger {
    display: none;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .navbar {
    display: block;
  }
  .navbar__hamburger {
    display: none;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .navbar {
    display: block;
  }
  .navbar__hamburger {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */