$gap1: 1rem;
$gap1_2: 1.2rem;
$gap1_8: 1.8rem;
$gap2: 2rem;

$fs_5: 5rem;
$fs_3:3rem;
$fs_2: 2rem;
$fs_1_75: 1.75rem;
$fs_1_5: 1.5rem;
$fs_1_25: 1.25rem;
$fs_1: 1rem;

$fw-400: 400;
$fw-700: 700;
$fw-600:600;
*, *::before, *::after {
    box-sizing: border-box;
}
html, h1, h2, h3, h4, h5, h6, p {
    padding:0;
    margin:0;
    font-size: $fs_1;
    font-weight: $fw-400;
}
body {
    padding: 0;
    margin: 0 ;
    font-size: $fs_1;
    font-family: 'Poppins', sans-serif;
}
a {
    cursor: pointer;
    text-decoration: none;
}
.mt {
    &__1rem{
        margin-top:1 rem;
    }
    &__2rem {
        margin-top: 2rem;
    }

}
.profile {
    clip-path: circle(50%);
    width: 25rem;
    height: 25rem;
}

.gap1 {
    gap: $gap1;
}
.gap2 {
    gap: $gap2;
}

/*Flex*/
.flex {
    display: flex;
    align-items: center;
    &__zero__basis {
        flex-basis: 0;
    }
}
.flex__center {
    justify-content: center;
}
.flex__evenly {
    justify-content: space-evenly;
}
.flex__around {
    justify-content: space-around;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.vw50 {
    width: 50vw;
}
.text__center {
    text-align: center;
}
/*Flex*/
/*main Intro , section intro & section title*/
.intro {
    font-weight: 600;
    color:rgb(85, 85, 85);
}
.title {
    font-size: $fs_3;
    font-weight: $fw-700;
}
.section_intro {
    color:rgb(85, 85, 85);
}

/*Buttons*/
.button {
    font-weight: $fw-700;
    border:rgb(53, 53, 53) 0.1rem solid;
    min-height:30px; 
    min-width: 120px;
    padding:1rem;
    border-radius: 2rem;
    cursor: pointer;

}
.btn__resume {
    background-color: white;
    &:hover {
        transition: all 300ms ease;
        color:white;
        background-color: rgb(53, 53, 53);
    }
}
.btn__contact {
    background-color: rgb(53, 53, 53);
    color: white;
    &:hover {
        transition: all 300ms ease;
        color:white;
        background-color: rgb(0, 0, 0);
    }
}
/*Buttons*/

.container {
    position: relative;
    margin:auto;
}
/*Header Section*/
.header {
    height: 17vh;
    &__logo {
        font-size: $fs_2;
    }
}
.navbar__hamburger__menu {
    display: none;
    position: absolute;
    background-color: #607274;
    z-index: 9999;
    top:0;
    width: 100%;
    height: 100%;
    ul > li {
        padding: 2rem 0;
    }
    > a {
        right: 0;
        position: absolute;
    }
}

.navbar__link {
    position: relative;
    color: black;
    &:hover {
        color: #607274;
        transition: color 3s;
    }
    &::after {
        position:absolute;
        content: '';
        height: 4px;
        width: 100%;
        background: #607274;
        left:0;
        bottom:-10px;
        opacity: 0;
        pointer-events: none;
    }
    &:hover::after{
        transition: opacity 3s;
        opacity: 1;
    }
}

.navbar__list {
    padding:0;
    margin:0;
    list-style-type: none;
    font-size: $fs_1_5;
}
/*Header Section*/


.p__15 {
    padding:1rem;
}

/*Dashboard*/
.dashboard {
    height: 83vh;
    &__designation {
        font-size: $fs_1_75;
        color: rgb(85, 85, 85);
        font-weight: $fw-600;
    }
}

.contacts {
    height: 95vh;
    padding-top: 5vh;
    &__details {
        border-radius: 2rem;
        border: 1px solid black;
        padding: 2rem 4rem;
        width: 40vw;
        margin:auto;
    }
}
.projects {
    height: 96vh;
    padding-top: 4vh;
    &__image__one {
        width: 22rem;
        height: 22rem;
        border-radius: 3rem;
    }
}
/*About me*/
.about {
    height: 96vh;
    padding-top: 4vh;
    &__page {
        width: 80%;
        margin:auto;
    }
    &__profile__image {
        width: 25rem;
        height: 25rem;
        border-radius: 3rem;
    }
}

.card {
    height: 10rem;
    width: 22rem;
    padding: 1rem;
    border: 1px rgb(85, 85, 85) solid;
    border-radius: 2rem;
    box-sizing: border-box;
    text-align: center;
    &__experience {
        width: 45rem;
        height: 17rem;
    }
}
/*Experience*/
.experience {
    height: 96vh;
    padding-top: 4vh;
    &__text {
        font-size: 1.17rem;
        font-weight: bold;
    }
}
.experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
    .about {
        height: fit-content;
        &__page {
            flex-direction:  column;
        }
        &__profile__image {
            width: 18rem;
            height: 18rem;
            border-radius: 3rem;
        }
    }
    .card {
        height: 9rem;
        width: 18rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        &__list {
            flex-direction: column;
        }
    }
    .navbar__menu {
        display: none;
    }
    .card__parent {
        flex-direction:  column;
    }
    .dashboard {
        display: flex;
        flex-direction: column;
        &__designation {
            font-size: $fs_1_25;
        }
    }
    .profile {
        clip-path: circle(50%);
        width: 12rem;
        height: 12rem;
    }
    .title {
        font-size: $fs_2;
        font-weight: $fw-700;
    }
    .header__logo {
        font-size: $fs_1_5;
    }
    .experience {
        &__page {
            flex-direction: column;
        }
    }
    
}
 /**/
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .about {
        height: fit-content;
        &__page {
            flex-direction:  column;
        }
        &__profile__image {
            width: 18rem;
            height: 18rem;
            border-radius: 3rem;
        }
    }
    .card {
        height: 9rem;
        width: 18rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        &__list {
            flex-direction: column;
        }
    }
    .card__parent {
        flex-direction:  column;
    }
    .navbar__menu {
        display: block;
    }
    .navbar__hamburger {
        display: none;
    }
    .profile {
        clip-path: circle(50%);
        width: 25rem;
        height: 25rem;
    }
    .dashboard {
        display: flex;
        flex-direction: column;
    }
    .title {
        font-size: $fs_2;
        font-weight: $fw-700;
    }
    .header__logo {
        font-size: $fs_1_5;
    }
    .experience {
        &__page {
            flex-direction: column;
        }
    }
}
 
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    $fs-xl: 7rem;
    $fs_1_75: 3rem;
    $fs_1: 1.25rem;
    .navbar__menu {
        display: block;
    }
    .navbar__hamburger {
            display: none;
    }
    .title {
        font-size: $fs_2; 
        font-weight: $fw-700;
    }
    .header__logo {
        font-size: $fs_1_5;
    }
}
 
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    $fs-xl: 7rem;
    $fs_1_75: 3rem;
    $fs_1: 1.25rem;
    .navbar__menu {
        display: block;
    }
    .navbar__hamburger {
            display: none;
    }
}
 
/* Media Query for Large screens */
@media (min-width: 1281px) {
    $fs-xl: 8rem;
    $fs_1_75: 4rem;
    $fs_1: 2rem;
    .navbar__menu {
        display: block;
    }
    .navbar__hamburger {
            display: none;
    }
}
