$gap1rem: 1rem;
$gap1_2rem: 1.2rem;
$gap1_8rem: 1.8rem;
$gap2rem: 2rem;
$fs-xl: 5rem;
$fs-600: 2rem;
$fs-400: 1rem;
*, *::before, *::after {
    box-sizing: border-box;
}
html, h1, h2, h3, h4, h5, h6, p {
    padding:0;
    margin:0;
    font-size: $fs-400;
    font-weight: 400 ;
}
img {
    clip-path: circle(50%);
    width: 25rem;
    height: 25rem;
}
body {
    padding: 0;
    margin: 0 ;
    font-size: $fs-400;
    font-family: 'Roboto', sans-serif;
}
a {
    cursor: pointer;
}
.gap1__2 {
    gap: $gap1rem;
}
.container {
    position: relative;
    margin:auto;
}
/*Header Section*/
.header {
    height: 15vh;
    > h2 {
        font-size: $fs-600;
        font-weight: bold;
    }
}
.navbar__hamburger {
    &__menu {
        display: none;
        position: absolute;
        background-color: #607274;
        z-index: 9999;
        top:0;
        width: 100%;
        height: 100%;
        ul > li {
            padding: 2rem 0;
        }
        > a {
            right: 0;
            position: absolute;
        }
    }
}
.text__center {
    text-align: center;
}
.p__15 {
    padding:15px;
}
.button {
    background-color: white;
    border:2px solid black;
    min-height:30px; 
    min-width: 120px;
    padding:15px;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
        border:none;
        transition: background-color 0.5s;
        color:white;
        background-color: gray;
    }
}

.flex {
    display: flex;
    align-items: center;
}
.flex__center {
    justify-content: center;
}
.flex__evenly {
    justify-content: space-evenly;
}
.flex__around {
    justify-content: space-around;
}
.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}
.navbar__link {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: black;
    &:hover {
        color: #607274;
        transition: color 3s;
    }
    &::after {
        position:absolute;
        content: '';
        height: 4px;
        width: 100%;
        background: #607274;
        left:0;
        bottom:-10px;
        opacity: 0;
        pointer-events: none;
    }
    &:hover::after{
        transition: opacity 3s;
        opacity: 1;
    }
}

.navbar__list {
    padding:0;
    margin:0;
    list-style-type: none;
}
/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
    .navbar {
        display: none;
    }
    .dashboard {
        display: flex;
        flex-direction: column;
    }
    img {
        clip-path: circle(50%);
        width: 18rem;
        height: 18rem;
    }
}
 
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    $fs-xl: 7rem;
    $fs-600: 3rem;
    $fs-400: 1.25rem;
    .navbar {
        display: block;

        &__hamburger {
            display: none;
        }
    }
    img {
        clip-path: circle(50%);
        width: 25rem;
        height: 25rem;
    }
    .dashboard {
        display: flex;
        flex-direction: column;
    }
}
 
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    $fs-xl: 7rem;
    $fs-600: 3rem;
    $fs-400: 1.25rem;
    .navbar {
        display: block;

        &__hamburger {
            display: none;
        }
    }
}
 
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    $fs-xl: 7rem;
    $fs-600: 3rem;
    $fs-400: 1.25rem;
    .navbar {
        display: block;

        &__hamburger {
            display: none;
        }
    }
}
 
/* Media Query for Large screens */
@media (min-width: 1281px) {
    $fs-xl: 8rem;
    $fs-600: 4rem;
    $fs-400: 2rem;
    .navbar {
        display: block;

        &__hamburger {
            display: none;
        }
    }
}
